<%- include('partials/header.ejs') %>
<section class="noticia-destaque">
  <div class="center">
    <div class="img-destaque">
      <div class="overlay"></div>
      <div class="title-destaque-descricao">
        <h2>Quer Fugir das Praias de Verão?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
          veritatis aliquam explicabo.
        </p>
      </div>
      <img src="../public/images/landscape.jpeg" alt="Paisagem com pedras e Árvores" />
    </div>
  </div>
</section>

<section class="outras-noticias">
  <div class="title-outras-noticias">
    <h2 class="title-section">Últimas Notícias</h2>
    <div class="center">
      <div class="ultimas">
        <div class="box-ultima-single">
          <img src="../public/images/news.png" />
          <div class="conteudo-noticia-single">
            <h3>Natureza e Geral</h3>
            <h2>Como encarar o Surf em Floripa</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dolore ipsam laudantium necessitatibus quibusdam distinctio
            </p>
            <a href="/encarar-o-surf">Saiba Mais</a>
          </div>
        </div>
        <div class="box-ultima-single">
          <img src="../public/images/news.png" />
          <div class="conteudo-noticia-single">
            <h3>Natureza e Geral</h3>
            <h2>Como encarar o Surf em Floripa</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dolore ipsam laudantium necessitatibus quibusdam distinctio
            </p>
            <a href="/encarar-o-surf">Saiba Mais</a>
          </div>
        </div>
      </div>
      <div class="mais-lidas">
        <h3>Mais lidas</h3>
        <div class="mais-lidas-noticias">
          <div class="mais-lida-noticia-single">
            <img src="../public/images/banner.png" />
            <div class="texto-mais-lida-single">
              <h4>Natureza</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ratione, facere illum deserunt veritatis.
              </p>
              <a href="/encarar-o-surf">Saiba Mais</a>
            </div>
          </div>
          <div class="mais-lida-noticia-single">
            <img src="../public/images/banner.png" />
            <div class="texto-mais-lida-single">
              <h4>Natureza</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ratione, facere illum deserunt veritatis.
              </p>
              <a href="/encarar-o-surf">Saiba Mais</a>
            </div>
          </div>
          <div class="mais-lida-noticia-single">
            <img src="../public/images/banner.png" />
            <div class="texto-mais-lida-single">
              <h4>Natureza</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ratione, facere illum deserunt veritatis.
              </p>
              <a href="/encarar-o-surf">Saiba Mais</a>
            </div>
          </div>
          <div class="mais-lida-noticia-single">
            <img src="../public/images/banner.png" />
            <div class="texto-mais-lida-single">
              <h4>Natureza</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ratione, facere illum deserunt veritatis.
              </p>
              <a href="/encarar-o-surf">Saiba Mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>
</body>

</html>