* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  height: 90vh;
  padding: 40px 2%;
  background-size: cover;
  background-position: center;
  background-image: url("../images/capa.png");
  font-weight: 300;
}

header nav {
  float: right;
}

nav.mobile-menu {
  display: none;
}

header .logo {
  float: left;
  width: 160px;
  height: 40px;
  background-color: #ccc;
}

header nav.desktop-menu ul {
  list-style-type: none;
}

header nav.desktop-menu li {
  float: left;
  padding: 0 20px;
}

header nav.desktop-menu li a {
  color: #fff;
}

.chamada1 {
  max-width: 600px;
  float: right;
  margin: 140px 150px;
}

.chamada1 h2 {
  font-size: 40px;
  color: #fff;
}

.chamada1 p {
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
}

section.sessao1 {
  width: 100%;
  height: 400px;
  background-color: #472562;
  padding: 0 2%;
}

section.sessao1 .container {
  max-width: 1000px;
}

.texto-sessao1 {
  float: left;
  color: #fff;
  position: relative;
  left: 75px;
  width: 50%;
  margin-top: 60px;
  padding-left: 80px;
}

.texto-sessao1 h2 {
  font-weight: 300;
  font-size: 26px;
}

.texto-sessao1 p {
  font-size: 15px;
  margin-top: 20px;
}

.texto-sessao1 ul {
  list-style-position: inside;
  font-size: 15px;
}

.texto-sessao1 ul li {
  float: left;
  width: 100%;
  margin-top: 8px;
}

.btn1-texto {
  background-color: #ff703d;
  width: 165px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  margin-top: 30px;
}

.device-sessao1 {
  float: left;
  width: 50%;
  height: 430px;
  position: relative;
  top: -30px;
  background-image: url("../images/device.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
    min-height: 90vh;
  }

  nav.desktop-menu {
    display: none;
  }

  nav.mobile-menu {
    display: none;
  }

  .chamada1 {
    float: none;
    max-width: none;
    width: 100%;
    text-align: center;
    margin: 100px 0;
  }

  .chamada1 h2 {
    font-size: 30px;
    padding: 0 10px;
  }

  section.sessao1 {
    height: auto;
    padding: 40px 2%;
    text-align: center;
  }

  .texto-sessao1 {
    margin-top: 0;
    position: static;
    padding-left: 0;
    float: none;
    display: inline-block;
  }

  .texto-sessao1 ul {
    display: inline-block;
    margin-top: 20px;
  }

  .texto-sessao1 ul li {
    float: none;
  }

  .btn1-texto {
    display: inline-block;
  }

  .device-sessao1 {
    width: 100%;
    display: none;
  }
}
