* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.table {
  display: table;
  width: 900px;
  border-collapse: collapse;
  margin: 0 auto;
}

.table-row {
  display: table-row;
}

.table-cel {
  padding: 5px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #000;
  display: table-cell;
}
