.dino {
  width: 60px;
  height: 60px;
  background-color: green;
  position: absolute;
  bottom: 15px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 15px;
  background-color: red;
}