* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.header {
  width: 100%;
  padding: 0 2%;
  height: 60px;
  background-color: #212343;
}

.header img {
  margin: 19px;
}

.container-banner {
  width: 100%;
  padding: 0 2%;
  height: 557px;
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-position: center;
}

.container-banner > .center {
  height: 100%;
}

.form {
  width: 400px;
  padding: 10px;
  height: calc(100% + 30px);
  float: right;
  position: relative;
  top: -15px;
  border: 8px solid rgba(120, 120, 120, 0.5);
  background-clip: padding-box;
  background-color: #fff;
}

.form h2 {
  font-weight: normal;
  color: #999;
  font-size: 21px;
}

.input-container {
  margin-top: 20px;
}

.input-container span,
.form p {
  display: inline-block;
  width: 100%;
  color: #bbb;
  font-size: 17px;
}

.form p {
  margin: 20px 0;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="tel"] {
  width: 344px;
  height: 55px;
  margin-top: 8px;
  padding-left: 7px;
  border: 1px solid #ccc;
}

.form .input-submit-container {
  text-align: center;
}

.form input[type="submit"] {
  width: 280px;
  height: 56px;
  border: 0;
  text-transform: uppercase;
  border-bottom: 5px solid #4a5097;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  background-color: #633a6d;
  color: #fff;
}

.form input[type="submit"]:hover {
  background-color: #323665;
}

.container-list {
  margin-top: 100px;
  float: left;
  padding: 30px;
  width: 519px;
  height: 270px;
  background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul {
  list-style-position: inside;
}

.container-list ul li {
  color: #fff;
  margin-top: 18px;
  font-size: 1.3rem;
}

.container-2 {
  padding: 40px 2%;
  background-color: #ccc;
  text-align: center;
}

.container-2 h2 {
  font-weight: normal;
}

.container-2 p {
  width: 100%;
  max-width: 768px;
  margin: 15px 0;
  display: inline-block;
  text-align: justify;
}

.arrow {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  top: 55px;
  background-image: url("../images/arrow.png");
  background-size: 100%;
}

.section-1 {
  padding: 90px 2%;
}

.section-1 h2 {
  text-align: center;
  color: #462663;
  font-weight: normal;
}

.container-section {
  margin-top: 40px;
  text-align: center;
}

.container-single {
  float: left;
  width: 33.3%;
  padding: 30px;
}

.container-single p {
  text-align: justify;
  padding: 10px;
}

.container-single img {
  width: 70px;
}

.footer {
  padding: 60px 0;
  border-top: 4px solid #888;
  text-align: center;
  color: #888;
}

.footer p {
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .header img {
    margin: 0;
  }

  .container-list {
    float: none;
    width: 40%;
    height: auto;
    float: left;
    max-width: 500px;
    margin-top: 30px;
  }

  .container-banner {
    width: 100%;
    height: auto;
    padding: 40px 2%;
    text-align: center;
  }

  .form {
    max-width: 400px;
    top: 0;
    float: right;
    width: 60%;
    height: 100%;
  }

  .input-container input[type="text"],
  .input-container input[type="email"],
  .input-container input[type="tel"] {
    width: 100%;
    height: 55px;
  }

  .form input[type="submit"] {
    max-width: 280px;
    width: 100%;
    height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .container-2 {
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-list {
    margin-top: 0;
    float: none;
    display: inline-block;
    width: 100%;
  }

  .form {
    float: none;
    display: inline-block;
    margin-top: 20px;
    width: 90%;
  }

  .container-single {
    width: 100%;
    float: none;
    display: inline-block;
    max-width: 600px;
    padding: 30px 0;
  }
}
