* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 900px;
  margin: 10px auto;
  text-align: center;
}

.menu a {
  color: #f00;
  font-size: 26px;
  text-decoration: none;
  margin: 0 10px;
  padding-right: 10px;
  border-right: 2px solid red;
}