* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial;
}

html,
body {
  height: 100%;
}

ul {
  list-style-position: inside;
}

.box {
  width: 100%;
}

.box div {
  float: left;
  width: 33.3%;
  height: 400px;
  background-color: red;
  border: 1px solid black;
}

p:empty {
  background-color: aqua;
  width: 200px;
  height: 200px;
}

p.p::after {
  content: ' César';
  color: red;
}

p.p::before {
  content: 'Hi ';
  color: red;
}

/* ul li:nth-of-type(2) {
  color: red;
} */

/* ul li:nth-child(4) {
  color: blue;
} */

/* .box div:last-of-type {
  background-color: green;
}

.box p:last-of-type {
  color: blueviolet;
} */

/* .box div:last-of-type p {
  color: rgba(255, 255, 255, 1);
} */

/* .box div:not(.one) {
  background-color: gold;
} */

