* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rgb(210, 210, 210);
  padding: 10px 2% 40px 2%;
}

header .logo-1,
header .logo-2 {
  float: left;
  width: 160px;
  height: 70px;
  background-image: url("../images/logo1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header .logo-2 {
  float: right;
  width: 170px;
  background-image: url("../images/logo2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-form {
  width: 100%;
}

.bg {
  height: 560px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg-form.jpg");
}

.form-container {
  position: absolute;
  right: 30px;
  top: -2.5%;
  margin-right: 40px;
  width: 400px;
  height: 105%;
  background-color: #fff;
  box-shadow: 1px 2px 2px 1px rgb(180, 180, 180);
}

.form-container h2 {
  padding: 25px 15px;
  color: #000;
  font-size: 18px;
  font-weight: normal;
  background-color: rgb(200, 200, 200);
}

.form-container form {
  margin-top: 30px;
  padding: 30px;
}

.form-container form p {
  font-size: 13px;
  color: #525252;
}

.form-container form input[type="text"],
.form-container form input[type="email"],
.form-container form input[type="tel"] {
  width: 100%;
  border: 1px solid #ccc;
  height: 45px;
  padding-left: 10px;
  line-height: 45px;
}

.form-wrapper:not(:first-child) {
  margin-top: 40px;
}

.form-container form input[type="submit"] {
  background-color: #033c50;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
}

.form-wrapper:last-child {
  margin-top: 20px;
}

section.chamada {
  z-index: 1;
  width: 100%;
  text-align: center;
}

section.chamada .container {
  padding: 70px 0 50px 0;
  background-color: #2e619f;
}

section.chamada h2,
section.chamada p {
  width: 98%;
  max-width: 700px;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.flex-mosaico {
  display: flex;
}

.item-1-mosaico {
  background-position: center;
  background-size: cover;
  width: 60%;
}

.item-2-mosaico {
  width: 40%;
  padding: 60px 40px;
  background-color: #4683ab;
}

.item-2-mosaico p {
  color: #fff;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer img {
  width: 120px;
}

footer p {
  margin-top: 8px;
}

@media screen and (max-width: 960px) {
  .bg {
    height: auto;
    text-align: center;
    padding: 40px 0;
  }

  .form-container {
    width: 96%;
    max-width: 400px;
    height: auto;
    position: static;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .flex-mosaico {
    display: block;
  }

  .item-1-mosaico {
    width: 100%;
    padding-top: 100%;
  }

  .item-2-mosaico {
    width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 510px) {
  header {
    text-align: center;
  }

  header .logo-1,
  header .logo-2 {
    float: none;
    display: inline-block;
  }
}
